// color
$colorBackground: #1f2f47;
$colorFrontWall: #656966;
$colorWindowLight: #cbc783;
$colorWindowsill: #2f4251;
$colorRoof: #484f61;
$colorText: #f3fbf3;
// width
$siteWidthMobile: 320px;
$siteWidthMobileBig: 425px;
//buttons
$button_radius: 0.75em;
$button_color: #e8e8e8;
$button_outline_color: #000000;
// height

// fontSize

// font-family
// gap
// padding
