@import "../scss/vars";
@import "../scss/header";
@import "../scss/start";
@import "../scss/startGhost";
@import "../scss/window";
@import "../scss/windowGhost";
@import "../scss/cell";
@import "../scss/fuild";
@import "../scss/scoreBoard";
@import "../scss/house";


* {
    box-sizing: border-box;
    background-color: $colorBackground;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}
.center {
    padding-left: calc(50% - $siteWidthMobile / 2);
    padding-right: calc(50% - $siteWidthMobile / 2);
}
