@import "_mixin.scss";

.window {
    position: relative;
    height: 110px;
    width: 70px;
    background: $colorWindowLight;

    &__sillhorizontal, &__sillvertical {
        content: '';
        position: absolute;
        background: $colorWindowsill;
    }

    &__sillhorizontal {
        top: 45%;
        height: 2px;
        width: 70px;
    }

    &__sillvertical {
        top: 0;
        left: 55%;
        height: 110px;
        width: 2px;
    }

    &__boxToHide {
        background: $colorBackground;
        height: 80px;
        width: 70px;
        position: absolute
    }
}


