// Colors
$colorText: #f3fbf3;
$colorBackground: #1f2f47;
$colorFrontWall: #656966;
$colorWindowLight: #cbc783;
$colorWindowsill: #2f4251;
$colorRoof: #484f61;
$hoverBackground: #374151;
$button_color: #212a45;
$button_outline_color: #000000;

// Fonts
$fontPrimary: 'Trebuchet MS';
$fontSecondary: 'Tahoma';
$fontButton: 'Verdana';

// Font Sizes
$fontSizeLarge: 36px;
$fontSizeMedium: 32px;
$fontSizeSmall: 21px;
$fontSizeXSmall: 18px;

// Layout
$siteWidthMobile: 320px;
$siteWidthMobileBig: 425px;

// Buttons
$button_radius: 0.75rem;

// General
$borderRadius: 0.75rem;
$transitionDuration: 0.5s;
