@import "_mixin.scss";

.start {
    @include ColumnCenter(20px);
    flex-direction: column;
    justify-content: center;

    &__title {
        color: $colorText;
        font-size: 32px;
        font-family: Trebuchet MS;
        font-weight: 600;
    }

    &__text {
        color: $colorText;
        font-size: 18px;
        font-family: Tahoma;
        opacity: 0.7;
        text-align: center;
    }

    button {
        color: #FFFFFF;
        background-color: #111827;
        border: 1px solid transparent;
        border-radius: .75rem;
        font-family: Verdana;
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 1.5rem;
        padding: .75rem 1.5rem;
    }

    button:hover {
        background-color: #374151;
        transition: all 0.5s ease;
        outline: none;
    }

    button:focus {
        box-shadow: none;
        outline: 2px solid white;
        outline-offset: 2px;
    }
}
.fadeOut {
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 0.7;
    }

    to {
        opacity: 0;
    }
}
