@import "../scss/vars";
@import "../scss/startScreen";
@import "../scss/gameoverScreen";
@import "../scss/game";
@import "../scss/background";
@import "../scss/ghosts";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(img/f1.png);
}

html {
    scroll-behavior: smooth;
    background-color: $colorBackground;
}

body {
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

.center {
    padding-left: calc(50% - $siteWidthMobile / 2);
    padding-right: calc(50% - $siteWidthMobile / 2);
}
